select -r base_ctl ;
select -tgl base ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r root_ctl ;
select -tgl root ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r hip_ctl ;
select -tgl hip ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r spine_ctl_1 ;
select -tgl spine_1 ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r spine_ctl_2 ;
select -tgl spine_2 ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r spine_ctl_3 ;
select -tgl spine_3 ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r spine_ctl_4 ;
select -tgl spine_4 ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r neck_ctl ;
select -tgl neck ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r head_ctl ;
select -tgl head ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r jaw_ctl ;
select -tgl jaw ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r B_mouth_ctl ;
select -tgl B_mouth ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;

select -r T_mouth_ctl ;
select -tgl T_mouth ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;








select -r L_eye_ctl ;
select -tgl L_eye ;
doCreateAimConstraintArgList 1 { "1","0","0","0","1","0","0","0","1","0","0","1","0","1","vector","","0","0","0","","1" };
aimConstraint -mo -weight 1 -aimVector 1 0 0 -upVector 0 1 0 -worldUpType "vector" -worldUpVector 0 1 0;








select -r L_knee_ctl ;
select -tgl L_ik_handle ;
poleVectorConstraint -weight 1;


select -r L_B_mouth_side_ctl ;
select -tgl L_B_mouth_side ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r L_T_mouth_side_ctl ;
select -tgl L_T_mouth_side ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r L_mouth_corner_ctl ;
select -tgl L_mouth_corner ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r L_nostril_ctl_2 ;
select -tgl L_nostril_2 ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r L_nostril_ctl_1 ;
select -tgl L_nostril_1 ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r L_eyebrow_ctl_1 ;
select -tgl L_eyebrow_1 ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r L_eyebrow_ctl_2 ;
select -tgl L_eyebrow_2 ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r L_eyebrow_ctl_3 ;
select -tgl L_eyebrow_3 ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r L_ear_ctl ;
select -tgl L_ear ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r L_eyelid_ctl_1 ;
select -tgl L_eyelid_1 ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r L_eyelid_ctl_2 ;
select -tgl L_eyelid_2 ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r L_eyelid_ctl_3 ;
select -tgl L_eyelid_3 ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r L_eyelid_ctl_4 ;
select -tgl L_eyelid_4 ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r L_cheek_ctl ;
select -tgl L_cheek ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r L_muzzle_ctl ;
select -tgl L_muzzle ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;




select -r L_clav_ctl ;
select -tgl L_clav ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r L_shoulder_ctl ;
select -tgl L_shoulder ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r L_elbow_ctl ;
select -tgl L_elbow ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r L_wrist_ctl ;
select -tgl L_wrist ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;

select -r L_thumb_ctl_1 ;
select -tgl L_thumb_1 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r L_thumb_ctl_2 ;
select -tgl L_thumb_2 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r L_thumb_ctl_3 ;
select -tgl L_thumb_3 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r L_index_ctl_1 ;
select -tgl L_index_1 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r L_index_ctl_2 ;
select -tgl L_index_2 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r L_index_ctl_3 ;
select -tgl L_index_3 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r L_middle_ctl_1 ;
select -tgl L_middle_1 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r L_middle_ctl_2 ;
select -tgl L_middle_2 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r L_middle_ctl_3 ;
select -tgl L_middle_3 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r L_ring_ctl_1 ;
select -tgl L_ring_1 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r L_ring_ctl_2 ;
select -tgl L_ring_2 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r L_ring_ctl_3 ;
select -tgl L_ring_3 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r L_pinky_ctl_1 ;
select -tgl L_pinky_1 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r L_pinky_ctl_2 ;
select -tgl L_pinky_2 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r L_pinky_ctl_3 ;
select -tgl L_pinky_3 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;








select -r R_eye_ctl ;
select -tgl R_eye ;
doCreateAimConstraintArgList 1 { "1","0","0","0","1","0","0","0","1","0","0","1","0","1","vector","","0","0","0","","1" };
aimConstraint -mo -weight 1 -aimVector 1 0 0 -upVector 0 1 0 -worldUpType "vector" -worldUpVector 0 1 0;



select -r R_knee_ctl ;
select -tgl R_ik_handle ;
poleVectorConstraint -weight 1;


select -r R_B_mouth_side_ctl ;
select -tgl R_B_mouth_side ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r R_T_mouth_side_ctl ;
select -tgl R_T_mouth_side ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r R_mouth_corner_ctl ;
select -tgl R_mouth_corner ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r R_nostril_ctl_2 ;
select -tgl R_nostril_2 ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r R_nostril_ctl_1 ;
select -tgl R_nostril_1 ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r R_eyebrow_ctl_1 ;
select -tgl R_eyebrow_1 ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r R_eyebrow_ctl_2 ;
select -tgl R_eyebrow_2 ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r R_eyebrow_ctl_3 ;
select -tgl R_eyebrow_3 ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r R_ear_ctl ;
select -tgl R_ear ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r R_eyelid_ctl_1 ;
select -tgl R_eyelid_1 ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r R_eyelid_ctl_2 ;
select -tgl R_eyelid_2 ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r R_eyelid_ctl_3 ;
select -tgl R_eyelid_3 ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r R_eyelid_ctl_4 ;
select -tgl R_eyelid_4 ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r R_cheek_ctl ;
select -tgl R_cheek ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r R_muzzle_ctl ;
select -tgl R_muzzle ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;




select -r R_clav_ctl ;
select -tgl R_clav ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r R_shoulder_ctl ;
select -tgl R_shoulder ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r R_elbow_ctl ;
select -tgl R_elbow ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r R_wrist_ctl ;
select -tgl R_wrist ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;

select -r R_thumb_ctl_1 ;
select -tgl R_thumb_1 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r R_thumb_ctl_2 ;
select -tgl R_thumb_2 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r R_thumb_ctl_3 ;
select -tgl R_thumb_3 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r R_index_ctl_1 ;
select -tgl R_index_1 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r R_index_ctl_2 ;
select -tgl R_index_2 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r R_index_ctl_3 ;
select -tgl R_index_3 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r R_middle_ctl_1 ;
select -tgl R_middle_1 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r R_middle_ctl_2 ;
select -tgl R_middle_2 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r R_middle_ctl_3 ;
select -tgl R_middle_3 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r R_ring_ctl_1 ;
select -tgl R_ring_1 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r R_ring_ctl_2 ;
select -tgl R_ring_2 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r R_ring_ctl_3 ;
select -tgl R_ring_3 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r R_pinky_ctl_1 ;
select -tgl R_pinky_1 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r R_pinky_ctl_2 ;
select -tgl R_pinky_2 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r R_pinky_ctl_3 ;
select -tgl R_pinky_3 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;










select -r spine_ctl_1 ;
select -tgl spine_2_base_group ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;



select -r spine_ctl_2 ;
select -tgl spine_3_base_group ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r spine_ctl_3 ;
select -tgl spine_4_base_group ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;































select -r L_shoulder_ctl ;
select -tgl L_shoulder_locator_1 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","1","0","0","1","","1" };
orientConstraint -mo -skip x -weight 1;

select -r L_shoulder_ctl ;
select -tgl L_shoulder_locator_2 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","1","0","0","1","","1" };
orientConstraint -mo -skip x -weight 1;

select -r L_shoulder_ctl ;
select -tgl L_shoulder_locator_3 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","1","0","0","1","","1" };
orientConstraint -mo -skip x -weight 1;



select -r L_shoulder_locator_1 ;
select -tgl L_shoulder ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r L_shoulder_locator_2 ;
select -tgl L_helper_1 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;

select -r L_shoulder_locator_3 ;
select -tgl L_helper_2 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;





select -r R_shoulder_ctl ;
select -tgl R_shoulder_locator_1 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","1","0","0","1","","1" };
orientConstraint -mo -skip x -weight 1;

select -r R_shoulder_ctl ;
select -tgl R_shoulder_locator_2 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","1","0","0","1","","1" };
orientConstraint -mo -skip x -weight 1;

select -r R_shoulder_ctl ;
select -tgl R_shoulder_locator_3 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","1","0","0","1","","1" };
orientConstraint -mo -skip x -weight 1;



select -r R_shoulder_locator_1 ;
select -tgl R_shoulder ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;


select -r R_shoulder_locator_2 ;
select -tgl R_helper_1 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;

select -r R_shoulder_locator_3 ;
select -tgl R_helper_2 ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;






















select -r L_FR_toe ;
select -tgl L_foot_toe ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r L_FR_ball ;
select -tgl L_foot_ball ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r L_FR_ankle ;
select -tgl L_foot_ankle ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;



select -r L_FR_ankle ;
select -tgl L_ik_handle ;
doCreatePointConstraintArgList 1 { "0","0","0","0","0","0","0","1","","1" };
pointConstraint -offset 0 0 0 -weight 1;

select -r R_FR_toe ;
select -tgl R_foot_toe ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r R_FR_ball ;
select -tgl R_foot_ball ;
ParentConstraint;
performParentConstraint 0;
doCreateParentConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
parentConstraint -mo -weight 1;


select -r R_FR_ankle ;
select -tgl R_foot_ankle ;
doCreateOrientConstraintArgList 1 { "1","0","0","0","0","0","0","1","","1" };
orientConstraint -mo -weight 1;



select -r R_FR_ankle ;
select -tgl R_ik_handle ;
doCreatePointConstraintArgList 1 { "0","0","0","0","0","0","0","1","","1" };
pointConstraint -offset 0 0 0 -weight 1;


